alembic
bleach
blinker
Brotli
cffi
click
cssselect2
docopt
flask
Flask-APScheduler
Flask-Login
flask-mail
Flask-Migrate
Flask-Redmail
Flask-Script
Flask-SeaSurf
flask-sqlalchemy
flask-talisman
flask-weasyprint
flask-wtf
fonttools
greenlet
gunicorn
html5lib
importlib-metadata
importlib-resources
itsdangerous
jinja2
Mako
MarkupSafe
num2words
packaging
pillow
pycparser
pydyf
PyJWT
PyMySQL
pyphen
python-dotenv
redmail
six
SQLAlchemy
tinycss2
typing-extensions
weasyprint
webencodings
werkzeug
wtforms
WTForms-SQLAlchemy
zipp
zopfli
