
<div class="modal fade" id="dynamicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Hotel #{{ hotel['id'] }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">

                </button>
            </div>

            <div class="modal-body">
                <p><strong>Nom:</strong> {{ hotel['name'] }}</p>
                <p><strong>Classment:</strong> {{ hotel['star_rating'] }} étoiles</p>
                <p><strong>Nombre de voyages déjà fait:</strong> {{ hotel['#trips'] }}</p>
                <h4>Contacts:</h4>
                <ol>
                    {% for contact in hotel['contacts'] %}
                         <li><strong>{{ contact }}</strong></li>
                    {% endfor %}
                </ol>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>