{% extends "layouts/base.html" %}

{% block title %} Nomadix Dashboard - {% block subtitle %} {% endblock %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mermaid.min.css') }}">
{% endblock stylesheets %}


<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        {% block content %}
        {% endblock content %}
    </div>
</div>


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/botstrap.min.js')}}"></script>

{% endblock %}

