<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <title>    
        Bienvenue - NOMADIX
    </title>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Vendors styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/simplebar/css/simplebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendors/simplebar.css') }}">
    
    <!-- Main styles for this application-->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
    <link href="{{ url_for('static', filename='assets/css/examples.css') }}" rel="stylesheet">
    
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
      <body>

        {% include 'includes/sidebar.html' %}

        <div class="wrapper d-flex flex-column min-vh-100 bg-light">

          {% include 'includes/navigation.html' %}

          {% block content %}{% endblock content %}
        </div>

        {% include 'includes/scripts.html' %}

        <!-- Specific Page JS goes HERE  -->

        <!-- Plugins and scripts required by this view-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/toasts.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function (){
                $('.toast').toast('show');
            })
        </script>
        {% block javascripts %}{% endblock javascripts %}

      </body>
</html>