<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    
    <title>    
        Flask CoreUI - {% block title %}{% endblock %} | AppSeed
    </title>
    
    <!-- Vendors styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/vendors/simplebar/css/simplebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/vendors/simplebar.css')}}">
    
    <!-- Main styles for this application-->
    <link href="{{ url_for('static', filename='/assets/css/style.css')}}" rel="stylesheet">
    
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/prism.css') }}">
    <link href="{{ url_for('static', filename='/assets/css/examples.css')}}" rel="stylesheet">
    
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  <body>

    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %} 

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>

